.container
    %embed{height: "75px;", src:"#{asset_path 'swf/1.swf'}", width: "1170px;",wmode:"opaque"}
    %embed{height: "75px;", src:"#{asset_path 'swf/2.swf'}", width: "1170px;",wmode:"opaque"}
    %embed{height: "75px;", src:"#{asset_path 'swf/3.swf'}", width: "1170px;",wmode:"opaque"}